//font
$default-font-color:#262626;
$active:#fe7104;
$recovered:#04ad19;
$fatal:#f20505;
$font-size-large:3rem;
$font-size-xlarge:4rem;
$font-size-medium:2.5rem;
$font-size-small:2rem;
$font-size-xsmall:1.6rem;

//body
$color-background:#f3f2f9;
$color-body:#f9f9f9;
