.footer{
    background-color: $color-background;
    font-size: $font-size-xsmall;
    font-family: 'Noto Sans';
    @media only screen and (max-width: $bp-largest) {
        background-color: $color-body;
    };
    @media only screen and (max-width: $bp-xsmall) {
        position: relative;
    };
    @media only screen and (max-width: $bp-xmini) {
        font-size: $font-size-mini;
    };
    &__left{
        flex: 0 0 42.5%;
        text-align: right;
        @media only screen and (max-width: $bp-small) {
            flex: 0 0 40%;
        };
        &-text{
            &-link{
                text-decoration: none;
                color: $default-font-color;
                background-color: $table;
                font-family: 'Montserrat';
            }
        }
    }
    &__right{
        flex: 0 0 42.5%;
        text-align: left;
        @media only screen and (max-width: $bp-small) {
            flex: 0 0 40%;
        };
        
        &-text{
            &-github{
                display: flex;
                align-items: baseline;
                margin-bottom: -2rem;
                @media only screen and (max-width: $bp-xsmall) {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0rem;
                    padding-top: .5rem;
                };
                
                &-icon{
                    width: 2.5rem;
                    height: 2.5rem;
                    @media only screen and (max-width: $bp-small) {
                        width: 2rem;
                        height: 2rem;
                    };
                }
                &-text{
                    padding-left: 1rem;
                }
            }
            &-link{
                font-family: 'Montserrat';
            }
        }
    }
    &__center{
        flex: 0 0 15%;
        text-align: center;
        @media only screen and (max-width: $bp-small) {
            flex: 0 0 20%;
        };
    }
    &-image{
        width: 15rem;
        height: auto;
        @media only screen and (max-width: $bp-small) {
            width: 12.5rem;
            height: auto;
        };
    }
}

.footer__box{
    display: flex;
    padding-top: 2rem;
    align-items: center;
    @media only screen and (max-width: $bp-xsmall) {
        position: absolute;
        top: 130rem;//to be changed
        margin-bottom: 5rem;
    };
    @media only screen and (max-width: $bp-mini) {
        position: absolute;
        top: 125rem;//to be changed
    };
    @media only screen and (max-width: $bp-xmini) {
        position: absolute;
        top: 119rem;//to be changed
    };
    @media only screen and (max-width: $bp-xxmini) {
        position: absolute;
        top: 110rem;//to be changed
    };
}