@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 5rem 20rem 5rem 20rem;
  background-color: #f3f2f9;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400; }

::selection {
  background-color: #007bff;
  color: #fff; }

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f2f9; }
  .heading__text {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2.5px; }

.movedown {
  padding: 0 0 2rem 0;
  margin-bottom: -4rem;
  z-index: 1; }

.cases {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 2rem 0; }
  .cases__total, .cases__active, .cases__recovered, .cases__death {
    flex: 0 0 25%;
    text-align: left;
    padding: 2rem 5rem 2rem 5rem;
    background-color: #f9f9f9;
    border-radius: 6px; }
    .cases__total-no, .cases__active-no, .cases__recovered-no, .cases__death-no {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 4rem; }
    .cases__total-description, .cases__active-description, .cases__recovered-description, .cases__death-description {
      display: flex;
      align-items: center;
      justify-content: start; }
      .cases__total-description-text, .cases__active-description-text, .cases__recovered-description-text, .cases__death-description-text {
        font-size: 2.5rem; }
      .cases__total-description-icon, .cases__active-description-icon, .cases__recovered-description-icon, .cases__death-description-icon {
        padding-left: 2rem; }
    .cases__total-delta, .cases__active-delta, .cases__recovered-delta, .cases__death-delta {
      font-size: 2rem;
      letter-spacing: 2px;
      text-align: center;
      padding-top: 2rem; }
  .cases__active-no {
    color: #007bff; }
  .cases__recovered-no, .cases__recovered-delta {
    color: #04ad19; }
  .cases__death-no, .cases__death-delta {
    color: #f20505; }

.arrow-up {
  height: 2.5rem;
  width: 2.5rem; }

.arrow-down {
  height: 2.5rem;
  width: 2.5rem; }

.chart {
  display: flex;
  padding: 2rem 0; }
  .chart__div-1 {
    flex: 0 0 100%;
    height: 40rem; }

#visualization {
  margin: 2rem 2rem 2rem 0;
  width: 1180px; }

.state {
  display: flex;
  padding: 2rem 0; }

.dataTable {
  flex: 0 0 70%;
  overflow: auto;
  height: 80vh; }
  .dataTable__table {
    width: 100%;
    border-collapse: collapse; }
    .dataTable__table-caption {
      display: none; }

.column-heading {
  font-size: 2.5rem; }
  .column-heading__state-ut {
    text-align: left; }
  .column-heading__total {
    text-align: right; }
  .column-heading__active {
    color: #007bff;
    text-align: right; }
  .column-heading__recovered {
    color: #04ad19;
    text-align: right; }
  .column-heading__deceased {
    color: #f20505;
    text-align: right; }

tr {
  font-size: 2rem; }

td {
  padding: 1rem 1.5rem; }

thead {
  background-color: #f9f9f9; }

th {
  background-color: #f9f9f9;
  position: sticky;
  top: 0;
  /* Don't forget this, required for the stickiness */
  padding: 1rem 1.5rem; }

tbody tr:nth-child(even) {
  background-color: #f3f2f9; }

tbody tr:nth-child(odd) {
  background-color: #cdeefd; }

tfoot tr {
  background-color: #f9f9f9;
  font-size: 2.5rem;
  font-weight: 700; }

.total {
  background-color: #f9f9f9;
  position: sticky;
  bottom: 0;
  /* Don't forget this, required for the stickiness */
  font-family: 'Montserrat';
  font-weight: 700; }
  .total-name {
    text-align: left; }
  .total-total {
    text-align: right; }
  .total-active {
    color: #007bff;
    text-align: right; }
  .total-recovered {
    color: #04ad19;
    text-align: right; }
  .total-deceased {
    color: #f20505;
    text-align: right; }

.state-name {
  text-align: left; }

.state-cases {
  text-align: right;
  font-family: 'Montserrat';
  font-weight: 400; }
  .state-cases__unavailable {
    text-align: center; }

.tested {
  flex: 0 0 30%;
  background-color: #f9f9f9;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 0 2rem 0 5rem; }
  .tested__location {
    color: #007bff;
    font-size: 4rem;
    font-family: 'Montserrat';
    font-weight: 700; }
  .tested__heading {
    font-size: 2rem; }
  .tested__number {
    font-size: 4rem;
    color: #f20505;
    font-family: 'Montserrat';
    font-weight: 700; }
  .tested__info {
    font-size: 2rem; }
    .tested__info-source:link {
      text-decoration: none;
      color: #262626;
      background-color: #cdeefd; }

.header {
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__icon {
    padding-right: 2rem; }
  .header__text {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2.5px; }

#virus {
  height: 5rem;
  width: 5rem; }

.container {
  display: flex;
  flex-direction: column; }
