.chart{
    display: flex;
    padding: 2rem 0;
    width: 100%;
    position: relative;
    &__div-1{
        flex: 0 0 100%;
        height: 40rem;
        width: 80vw;
        @media only screen and (max-width: $bp-largest) {
            width: 100vw;
            padding: 0 5rem;
        };
        @media only screen and (max-width: $bp-small) {
            padding: 0;
        };
        @media only screen and (max-width: $bp-xsmall) {
            position: absolute;
            top: 90rem;//to be changed
        };
        @media only screen and (max-width: $bp-mini) {
            position: absolute;
            top:88rem;//to be changed
        };
        @media only screen and (max-width: $bp-xmini) {
            position: absolute;
            top:80rem;//to be changed
        };
        @media only screen and (max-width: $bp-xxmini) {
            position: absolute;
            top:65rem;//to be changed
        };
    }
}

#chart{
    @media only screen and (max-width: $bp-xsmall) {
        position: relative;
    };
}

#chart-heading{
    @media only screen and (max-width: $bp-xsmall) {
        position: absolute;
        top: 85rem;//to be changed
    };
    @media only screen and (max-width: $bp-mini) {
        position: absolute;
        top: 83rem;//to be changed
    };
    @media only screen and (max-width: $bp-xmini) {
        position: absolute;
        top: 75rem;//to be changed
    };
    @media only screen and (max-width: $bp-xxmini) {
        position: absolute;
        top: 60rem;//to be changed
    };
}