@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-background;
    &__text{
        font-size: $font-size-medium;
        font-weight: 700;
        letter-spacing: 2.5px;
    }
}